@charset "UTF-8";

/*
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 270px;
    height: 520px;
    border-radius: 20px;
}

#imagem {
    background: black url(../imagens/imagem.jpg) no-repeat;
    background-size: cover;
    width: 270px;
    height: 200px;
    border-radius: 20px 20px 0 0;
}

h1 {
    text-align: center;
    padding: 15px;
}

#formulario {
    padding: 0 10px 20px 10px;    
}

#formulario > p {
    font-size: 0.9em;
    text-align: justify;
    padding-bottom: 5px;
}

#email {
    position: relative;
    width: 250px;
    height: 40px;
    background-color: #5f2c82;
    margin-bottom: 5px;
    border-radius: 10px;
}

.material-symbols-outlined{
    color: white;
    padding: 10px;
}

#email > input {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    background-color: #94CFCD;
    border-radius: 10px;
    font-size: 1.2em;
    height: 33px;
    width: 200px;
    text-indent: 10px;
}

#senha {
    position: relative;
    width: 250px;
    height: 40px;
    background-color: #5f2c82;
    border-radius: 10px;
}

#senha > input {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    background-color: #94CFCD;
    border-radius: 10px;
    font-size: 1.2em;
    height: 33px;
    width: 200px;
    text-indent: 10px;
}

#entrar {
    position: relative;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin-top: 5px;
    background-color: #49a09d;
}

#entrar > input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 40px;
    background-color: #49a09d;
    border: 1px solid #49a09d;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    font-size: 1.1em;
}

#entrar > input:hover {
    background-color: #285c5a;
}

#esqueceu {
    position: relative;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid #49a09d;
}

#esqueceu:hover {
    background-color: #6addd9;
}

#esqueceu > p {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0, -50%);
    text-align: center;
    text-decoration: none;
    color: #2b6664;
}

