@charset "UTF-8";

/*
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 270px;
    height: 520px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.479);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

#imagem {
    display: block;
    background: #5f2c82 url(../imagens/imagem.jpg) no-repeat;
    background-size: cover;
    width: 270px;
    height: 200px;
}

#formulario {
    display: block;
    padding: 10px;    
}

#formulario > h1 {
    text-align: center;
    padding: 10px;
}

#formulario > p {
    font-size: 0.9em;
    text-align: justify;
    padding-bottom: 5px;
}

.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0;
}

.campo > label {
    display: none;
}

.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo > input {
    background-color: #9ef0ed;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-14px);
}

.campo > input:focus-within {
    background-color: white;
    outline: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #265352;
}

.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: 1px solid #49a09d;
    color: #265352;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    margin-top: 5px;
}

.botao:hover {
    background-color: #8ee2df;
}
